/* Основной стиль для мобильных */
body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    touch-action: manipulation; /* Оптимизация для тач-устройств */
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5vw;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 5vw;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #555;
}

.icon {
    position: absolute;
    animation: fall linear var(--fall-speed), rotate var(--rotate-speed) infinite;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    touch-action: manipulation;
    outline: 30px solid transparent; /* Увеличенная область нажатия */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    from {
        top: -50px;
    }
    to {
        top: 100vh;
    }
}

.icon.bonus1 {
    background-image: url('img/Vector coin x.png');
}

.icon.bonus5 {
    background-image: url('img/Vector coin 3.png');
}

.icon.danger {
    background-image: url('img/boom.png');
}

/* Медиазапросы для разных экранов */
@media (max-width: 768px) {
    #scoreboard {
        font-size: 4vw;
    }

    button {
        font-size: 4vw;
        padding: 10px 20px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}

@media (orientation: landscape) {
    #scoreboard {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    #scoreboard {
        font-size: 6vw;
    }

    button {
        font-size: 5vw;
        padding: 8px 16px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

@media (orientation: portrait) {
    .icon {
        width: 40px;
        height: 40px;
    }

    #scoreboard {
        font-size: 5vw;
    }
}









/* Для звёзд */
.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%; /* Делает звезду круглой */
    opacity: 0;
    animation: twinkle 2s linear forwards;
}

/* Анимация появления и исчезновения звезды */
@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

